* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pokemon-font;
    src: url('../fonts/pokemon-font.ttf');
}

:root {
    --shadow: white;
}

body {
    background-color: rgb(0, 0, 0);
}

.pokeball button {
    background-color: transparent;
    border-color: transparent;
    padding: 2%;
}

.pokeball-img {
    width: 46px;
    height: 45px;
}

.pokeball-img:hover {
    transform: rotate(30deg);
}

.pokemon-container {
    width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: black;
}

.pokemon-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--shadow);
    transform: translate3d(0px, 0px, 0) scale(1);
    filter: blur(25px);
    opacity: var(0.5);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.pokemon-container::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        
.card {
    background-color: black;
    font-family: pokemon-font;
}

.pokemon-img {
    background: rgb(125,125,125);
    background: radial-gradient(circle, rgba(125,125,125,1) 6%, rgba(119,119,119,1) 15%, rgba(0,0,0,1) 40%);
}

.pokemon-img img {
    display: block;
    width: 220px;
    height: 220px;
    margin: 20px auto;
}

.poke-name {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.poke-name a {
    text-decoration: none; 
}